fastapi[all]==0.111.0
httpx
openai
pinecone
pymongo
pyreadline3
python-dotenv
pytz


gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
pytz

pandas
openpyxl 
xlrd
python-multipart
aiofiles
apscheduler